<div id="<%= dom_id transaction %>">
  <p>
    <strong>Title:</strong>
    <%= transaction.title %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= transaction.category %>
  </p>

  <p>
    <strong>Occurred on:</strong>
    <%= transaction.occurred_on %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= transaction.notes %>
  </p>

</div>
